.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.canvasContainer {
    position: relative;
}

.canvas {
    background: #fff;
}

.text {
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, sans-serif;
    cursor: move;
    user-select: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0
        #000;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 360px;
    gap: 16px;
}
