.main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    gap: 24px;
    padding: 32px 24px 48px;
    max-width: 1200px;
    margin: 0 auto;
}
